<h1 class="center-align">Memory Match!!!</h1>
<h5 id="new_game" class="center btn">New Game</h5>
<div class="row container">
  <div class="memory card-panel hoverable col s3">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
  <div class="memory card-panel col s3 hoverable">
    <p class="hide">
    </p>
  </div>
</div>
